
  body {
    max-width: 1900px;
    background: #0c020a;
    font-family: 'Roboto', sans-serif;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    zoom: 100%;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20;
    margin-right: -20px;
}
.mytabs input[type="radio"] {
    display: none;
}

.spanishembed{
    width: 80%;
    height: 190%;
    resize: unset;
}
.mid{
    font-family: 'Times New Roman', Times, serif;
    color: #fdcaf7;
    font-size: 140%;
    margin: -5px;
    text-align: center;
}
img{
    width: 50%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.plush{
    width: 40%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.fries{
    width: 50%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mytabs label {
    padding: 10px;
    background: #ea80d3;
    font-weight: bold;
    text-align: center;
    min-width: 585px;
    max-width: 1080;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.htext{
    color: #fdcaf7;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 8px;
    text-align: center;
}
.stext{
    color: #fdcaf7;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 8px;

}
p{
    font-family: 'Times New Roman', Times, serif;
    color: #fdcaf7;
    padding-left: 8px;
}
.mytabs .tab {
    width: 1080px;
    padding-right: 50px;
    background: #0c020a;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #f6c8ec;
}
